@use 'src/styles/vars';

.profile {
  color: vars.$white;
  font-family: "Righteous";

  .profile-title {
    margin-bottom: 1em;
  }

  .profile-container {
    width: 600px;
    height: auto;
    margin: 0 auto 2em;
    border: solid 1px vars.$white;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .profile-avatar {
      width: 70px;
      height: auto;
      background-color: vars.$white;
      border-radius: 50%;
      padding: 0.2em;
    }

    .profile-name {
    }

    .profile-button-dock {
      display: flex;

      button {
        margin-left: 0.5em;
      }
    }
  }

  .profile-contribution {
    max-width: 800px;
    height: auto;
    margin: auto;

    .profile-contribution-title {
      text-align: center;
      font-size: 2.8em;
      margin: 1em;
      font-family: "Sedgwick Ave Display";
    }

    .profile-add-title {
      text-align: center;
      margin: 1.5em;
      font-size: 1.5em;
    }

    .profile-contribution-articles {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border: solid 1px;
      padding: 1em;

      .profile-articles-title {
        width: 25vh;
        padding: 0.5em;
        margin: auto;
      }

      .profile-articles-button-dock {
        display: flex;
        margin: auto;

        button {
          margin: 0 0.5em 0.5em;
        }
      }
    }
  }
}

@media (max-width: vars.$smallScreen) {
  .profile {
    .profile-title {
      margin-bottom: 0.5em;
    }
    .profile-container {
      max-width: 300px;
      margin: 0 auto 2em;
      padding: 1em 0;

      .profile-avatar {
        width: 35px;
      }
      .profile-name {
      }
      .profile-button-dock {
        display: flex;
        flex-direction: column;

        button {
          margin-bottom: 0.5em;
        }
      }
    }
    .profile-contribution {
      .profile-contribution-title {
        text-align: center;
        font-size: 1.5em;
        margin: 0.5em;
      }
      .profile-add-title {
        margin: 1em;
        font-size: 1em;
      }
      .profile-contribution-articles {
        display: flex;
        align-items: center;
        border: solid 1px;
        padding: 0.5em;
        margin: 0.5em;

        .profile-articles-title {
          width: 50%;
          text-align: center;
          white-space: pre-line;
          word-break: break-all;
        }

        .profile-articles-button-dock {
          display: flex;

          button {
          }
        }
      }
    }
  }
}
@media (max-width: vars.$mediumScreen) {
  .profile {
    .profile-title {
      margin-bottom: 0.5em;
    }
    .profile-container {
      width: 400px;
      margin: 0 auto 2em;
      padding: 1em 0;

      .profile-avatar {
        width: 35px;
      }
      .profile-name {
      }
      .profile-button-dock {
        display: flex;
        flex-direction: column;

        button {
          margin-bottom: 0.5em;
        }
      }
    }

    .profile-contribution {
      .profile-contribution-title {
        font-size: 2em;
      }

      .profile-add-title {
        font-size: 1.2em;
      }

      .profile-contribution-articles {
        .profile-articles-title {
          padding: 0.5em;
          text-align: center;
          white-space: pre-line;
          word-break: break-all;
        }

        .profile-articles-button-dock {
          button {
          }
        }
      }
    }
  }
}

.modal {
  background-color: #ffffff;
  width: 800px;
  height: 450px;

  .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
  }

  .form {
    padding: 2em;

    .content {
      width: 600px;
      height: 300px;
      margin: auto;

      .form-edit-label {
        float: left;
        padding: 0.3em;
        width: 100%;
        margin: 0 auto;
      }

      .form-edit-input {
        margin-left: 1em;
        float: right;
        width: 400px;
      }
    }
    .actions {
      padding: 10px 5px;
      display: flex;
      justify-content: space-evenly;
      margin: 1em;
    }
  }
}
